/* common custom styles starts */
button:focus, button:active, button:link, button:visited{
    outline: none;
}
a:focus, a:active, a:link, a:visited{
    outline: none;
    text-decoration: none;
}
.block{
    display: block;
}
.main .container-fluid{
    padding: 0px 10px;
}
/* common style ends */